<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html ng-app='biobreaksapp'>
<head>
    <!--<base href="/">-->
    <title>BioBreaks  - Future</title>
    <meta name="description" content="BioBreaks - Highlighting awesome products and people in biotech">
    <link id="favicon" rel="icon" href="https://d4z6dx8qrln4r.cloudfront.net/image-575985198966d-default.png"
          type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
</head>
<body ng-controller = "FutureController">
<header class="header-top">
    <img class="topimage" src="https://vectr.com/theonlyhope/designs/untitled-d7lyyZ6Ol.png">
    <ul class="menuitems">
        <li  class="menuitem" ><a href="/home">Home</a></li>
        <li class="menuitem" style="border-bottom: 10px solid #236bff;
"><a href="/future">Future</a></li>
        <li class="menuitem"><a href="/chat">Discuss</a></li>
        <li class="menuitem"><a href="/about">About</a></li>
    </ul>
    <div class="center-logo">
        <a class="subscribe" href="https://biobreaks.typeform.com/to/giuTkj" data-mode="1" target="_blank"> Subscribe </a>
    </div>

</header>
<!--<div class="filters">-->
    <!--<div class="filteritem">Time Period</div>-->
    <!--<div class="filteritem">Graph Type</div>-->
<!--</div>-->

<!--<div class="view-animate-container">-->
    <!--<div ng-view class="view-animate"></div>-->
<!--</div>-->

<div tooltip="Explore" tooltip-position="bottom" class="exploretab">
   <img class="globe" src="https://maxcdn.icons8.com/Android_L/PNG/512/Maps/globe-512.png">
</div>
<div tooltip="Ask" tooltip-position="bottom" class="asktab">
    <div>
    <img class="question" src="https://cdn2.iconfinder.com/data/icons/bold-ui/100/questionmark-512.png">
    </div>
    <!--<button ng-click="updateGraph(data.boom)">PRESS ME</button>-->
</div>
<div class="listdropdown">
    <select class="dropdown" ng-change="updateGraph(3)"
            name="singleSelect"
            ng-model="data.boom"
            ng-options="option as option.name for option in graphOptions ">
        <option value="" disabled selected>Select a graph</option>

        <!--<option   ng-repeat="" value="{{option.value}}">{{option.name}} {{option.value}}</option>-->
        <!--<option value="option-2">Option 2</option>-->
    </select>
    <!--<h2> {{data.boom.name}}</h2>-->
</div>
<div google-chart chart="chart"
     style="margin-left: 10%;
    margin-top: -50px; ">
</div>

<!--<div class="graphspace">-->
<!--Graph-->
<!--<div>-->
<!--<canvas id="line" class="" chart-data="data.selectedGraphData"-->
<!--chart-labels="labels" chart-colors="colors" chart-options="options" chart-line=""-->
<!--chart-dataset-override="datasetOverride" chart-click="onClick">-->
<!--</canvas>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;{{data.boom}}&ndash;&gt;-->
<!--<div class="suggestbutton">-->
    <!--Suggest a Graph-->
<!--</div>-->


<!-- Your web-app is https, so your scripts need to be too -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="/client.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.js" type="text/javascript"></script>
<script src="/app.js"></script>
</body>
</html>
